*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main{
color:hsl(179, 62%, 43%);
color: hsl(71, 73%, 54%);
color: hsl(204, 43%, 93%);
color: hsl(218, 22%, 67%);
}
body{
    font-family: 'Karla', sans-serif;
    font-size: 16px;
    background: hsl(204, 43%, 93%);
    width: 1440px;
}

.container{
    margin: 160px auto;
    width: 700px;
    background: #fff;
    border-radius: 5px;
    box-shadow: 1px 1px 15px;
}

.top{
    padding: 40px;
}
.top h1{
    color: hsl(179, 62%, 43%);
}
.top h2{
    color: hsl(71, 73%, 54%);
    margin-top: 30px;
}

.top p{
    margin-top: 25px;
    color: hsl(218, 22%, 67%);
    line-height: 1.8;
}

.bottom{
    display: flex;
}

.left{
    background: #2BB3B1;
    width: 50%;
    color: #fff;
    padding: 40px;
    padding-left: 60px;
}
.left h2{
    margin-bottom: 25px;
}
.left span{
    font-size: 35px;
    color: #fff;
}
.left h3{
    color: hsl(202, 16%, 77%);
    margin-bottom: 15px;
}
.left button{
    margin-top: 30px;
    width: 100%;
    border: 0;
    color: #fff;
    background: #BFDF32;
    padding: 20px;
    font-size: 20px;
    border-radius: 5px;

}

.right{
    background: #4ABEBD;
    width: 50%;
    padding: 40px;
    color: #fff;
    line-height: 1.5;
}

.right h2{
    margin-bottom: 25px;
}
.right p{
    color: #e7e6e6;
}
footer{
    text-align: center;
    margin-bottom: 30px;
}

@media(max-width: 600px){
    body{
        width: 500px;
    }
    .container{
        width: 400px;
    }
    .bottom{
        display: block;
    }
    .left, .right{
        width: 100%;
    }
}